name: Docker

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
    tags-ignore:
      - "*"

jobs:
  push:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - 14.16.0-alpine
          - 14.16.0-buster
          - 14.16.0-buster-slim
          - 14.16.0-stretch
          - 14.16.0-stretch-slim

    name: Tag Commit (node:${{ matrix.node }})

    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.3.0

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build final image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: tf2autobot/tf2autobot:${{ github.sha }}-${{ matrix.node }}
