name: Docker

on:
  push:
    tags:
      - "*"

jobs:
  push:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - 18.17.0-alpine
          - 18.17.0-buster
          - 18.17.0-buster-slim

    name: Tag Release (node:${{ matrix.node }})

    steps:
      - uses: actions/checkout@v3.5.3

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v4.6.0
        with:
          images: tf2autobot/tf2autobot
          tags: |
            type=semver,pattern={{version}}-${{ matrix.node }}
            type=semver,pattern={{major}}.{{minor}}-${{ matrix.node }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.0.0

      - name: Login to DockerHub
        uses: docker/login-action@v2.2.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push (node:${{ matrix.node }})
        id: docker
        uses: docker/build-push-action@v4.1.1
        with:
          push: true
          context: .
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          build-args: |
            VERSION=${{ matrix.node }}
